<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (jobHistory()) {
      <div>
        <h2 data-cy="jobHistoryDetailsHeading"><span>Job History</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ jobHistory()!.id }}</span>
          </dd>
          <dt><span>Start Date</span></dt>
          <dd>
            <span>{{ jobHistory()!.startDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>End Date</span></dt>
          <dd>
            <span>{{ jobHistory()!.endDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Language</span></dt>
          <dd>
            <span>{{ { null: '', FRENCH: 'FRENCH', ENGLISH: 'ENGLISH', SPANISH: 'SPANISH' }[jobHistory()!.language ?? 'null'] }}</span>
          </dd>
          <dt><span>Job</span></dt>
          <dd>
            @if (jobHistory()!.job) {
              <div>
                <a [routerLink]="['/jhipstersampleapplication860/job', jobHistory()!.job?.id, 'view']">{{ jobHistory()!.job?.id }}</a>
              </div>
            }
          </dd>
          <dt><span>Department</span></dt>
          <dd>
            @if (jobHistory()!.department) {
              <div>
                <a [routerLink]="['/jhipstersampleapplication860/department', jobHistory()!.department?.id, 'view']">{{
                  jobHistory()!.department?.id
                }}</a>
              </div>
            }
          </dd>
          <dt><span>Employee</span></dt>
          <dd>
            @if (jobHistory()!.employee) {
              <div>
                <a [routerLink]="['/jhipstersampleapplication860/employee', jobHistory()!.employee?.id, 'view']">{{
                  jobHistory()!.employee?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/jhipstersampleapplication860/job-history', jobHistory()!.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
